body{
    display: flex;
    justify-content: center;
    align-content: center;
}


.messagebox{

    background-color: ivory;
    width: 400px;;
    margin: auto;
    
    padding:30px;
    font-size:18px;
    line-height: 30px;
    box-shadow: 0px 0px 10px 0px white;
}

.letter_close{
    display: none;
}
.letter_open{
    
    display: flex;
    flex-direction: column;
}


.letter_open img{
    width:400px;
    height:300px;
    
}